h1 {
    font-size: 500%;
    color: crimson;
    font-family: 'Courier New', Courier, monospace, sans-serif;

}
h2 {
    font-size: 400%;
    color: crimson;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}
div {
    text-align: center;
}
